In [100]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Store filepath in a variable
file_one = "Resources/DJIA.csv"
file_two = "Resources/NASDAQ100.csv"
file_three = "Resources/SP500.csv"
file_four = "Resources/HPI_master.csv"

In [134]:
# Read our Data files with the pandas library and create DF
DJIA_df = pd.read_csv(file_one)

# Separate out the month and year cols
DJIA_df['Year'] = pd.DatetimeIndex(DJIA_df['DATE']).year
DJIA_df['Month'] = pd.DatetimeIndex(DJIA_df['DATE']).month

# Filter everything before 2009 out (Which just happens to be the year here)
DJIA_df = DJIA_df[DJIA_df.Year >= 2009]

#Drop junk rows with VALUE of "."
DJIA_df.drop(DJIA_df[DJIA_df.VALUE == "."].index, inplace=True)

#Convert the rest to floats
DJIA_df['Value'] = DJIA_df['VALUE'].astype(float)

#Group by Year, Month and average the 30 days
DJIA_df_mean = DJIA_df.groupby(['Year','Month'])['Value'].mean().pct_change()

#Multiply it by 100 it's now in percent.
DJIA_df_mean = DJIA_df_mean * 100

In [136]:
NAS_df = pd.read_csv(file_two)

NAS_df['Year'] = pd.DatetimeIndex(NAS_df['DATE']).year
NAS_df['Month'] = pd.DatetimeIndex(NAS_df['DATE']).month

NAS_df = NAS_df[NAS_df.Year >= 2009]

NAS_df.drop(NAS_df[NAS_df.VALUE == "."].index, inplace=True)

NAS_df['VALUE'] = NAS_df['VALUE'].astype(float)

NAS_df_mean = NAS_df.groupby(['Year','Month'])['VALUE'].mean().pct_change()

NAS_df_mean = NAS_df_mean * 100

In [135]:
SP500_df = pd.read_csv(file_three)

SP500_df = pd.read_csv(file_two)

SP500_df['Year'] = pd.DatetimeIndex(SP500_df['DATE']).year
SP500_df['Month'] = pd.DatetimeIndex(SP500_df['DATE']).month

SP500_df = SP500_df[SP500_df.Year >= 2009]

SP500_df.drop(SP500_df[SP500_df.VALUE == "."].index, inplace=True)

SP500_df['VALUE'] = SP500_df['VALUE'].astype(float)

SP500_df_mean = SP500_df.groupby(['Year','Month'])['VALUE'].mean().pct_change()

SP500_df_mean = SP500_df_mean * 100

In [182]:
HPI_df = pd.read_csv(file_four)
HPI_df.rename(columns={"yr":"Year", "period":"Month"}, inplace=True)

HPI_df = HPI_df[HPI_df.Year >= 2009]
HPI_df.drop(HPI_df[HPI_df.frequency == "quarterly"].index, inplace=True)

Year  Month
2009  1              NaN
      2        -0.583394
      3        -2.676605
      4        14.122138
      5         4.602675
      6         5.646663
      7         2.964572
      8         6.738638
      9         4.330684
      10        2.013466
      11        2.310457
      12        3.107862
2010  1         1.853994
      2        -3.539296
      3         7.613532
      4         4.703903
      5        -5.854965
      6        -2.432024
      7        -1.081148
      8         0.649614
      9         5.481495
      10        6.502134
      11        3.987912
      12        2.932577
2011  1         3.609965
      2         2.712485
      3        -2.326042
      4         1.976039
      5         0.875899
      6        -4.632169
                 ...
2016  8         4.205800
      9         0.576839
      10        0.664833
      11       -1.104818
      12        1.973131
2017  1         3.488712
      2         4.042633
      3         2.375777
      4         1.144319
      5         4.396274
      6         1.399659
      7         0.852265
      8         1.002456
      9         1.370647
      10        2.242770
      11        3.936984
      12        1.102679
2018  1         6.134665
      2        -1.267091
      3         2.095055
      4        -3.476937
      5         4.072079
      6         4.125544
      7         1.913847
      8         2.144344
      9         1.004805
      10       -4.734331
      11       -4.413951
      12       -5.208592
2019  1        -0.645159
Name: VALUE, Length: 121, dtype: float64

In [187]:
#PLAYGROUND. this is such bullshit. Fucking hell.

# DJIA_df["Month Year"] = pd.to_datetime(DJIA_df['DATE']).dt.to_period('M')
# my = DJIA_df["Month Year"]
# y = DJIA_df_mean


# #What we're looking for is plot_date
# fig, ax = plt.subplots()

# y.index = DJIA_df['Month Year'].unique()
# x = y.index

# plt.plot_date(y.index, y)

TypeError: <class 'tuple'> is not convertible to datetime